.container {
  display: flex;
  align-items: center;
    justify-content: space-between;
    word-break: break-all;  /* Разрывает длинные слова в любом месте */
    overflow-wrap: break-word; /* Дополнительная страховка для переноса */
    width: 100%;
}
